@import "@styles/settings/__settings";

.button {

  font-size: 1em;
  color: white;
  background-color: orangered;
  border: 0;
  text-transform: uppercase;
  padding: .6em 1em;
  cursor: pointer;

  &:hover {
    background-color: lighten($color-button-background, 10);
  }

}