@import "@styles/settings/__settings";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  font-weight: $font-weight-regular;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.imageCanvas {
  margin-top: 20px;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
}
video{
  border-radius: 4px;
  
  justify-content: center;
  display: flex;
}
.videocenter{
  align-items: center;
  justify-content: center;

}
.capturedImg{
  align-items: center;
  justify-content: center;

}
img{
  border-radius: 4px;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* modal styles */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.backdrop img{
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
}
img:hover {
  cursor: pointer;
}
button:hover{
  cursor: pointer;
}
.captureButton {
  margin: 10px;
  padding: 10px;
  background-color: #4FFBDF;
  color: white;
  border-radius: 5px;
}

.uploadButton {
  margin: 10px;
  padding: 10px;
  background-color: #0066b2;
  color: white;
  border-radius: 5px;
}

.takeButton {
  margin: 10px;
  padding: 10px;  
  background-color: #D65DB1;
  color: white;
  border-radius: 5px;
}

.switchButton {
  margin: 10px;
  padding: 10px;
  background-color: #FF6F91;
  color: white;
  border-radius: 5px;
}
.closeButton {
  margin: 10px;
  padding: 10px;
  background-color: #008F7A;
  color: white;
  border-radius: 5px;
}


.notify{
  background-color: #00C2A8;
  padding: 20px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 4px;
}

.danger{
  background-color: #FF8066;
  color: rgb(245, 240, 240);
  border-radius: 4px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


