@import "@styles/settings/__settings";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  font-weight: $font-weight-regular;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.imageCanvas {
  margin-top: 20px;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
}
video{
  border-radius: 4px;  
  display: flex;
  height: 300px;
  width: 400px;
  background-image: url('https://images.unsplash.com/photo-1606800052052-a08af7148866?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8d2VkZGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60');
  background-size: cover;
  background-position: center;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  text-align: center;
  padding: 0px;
  margin-bottom: 10px;
}

.capturedImg{
  align-items: center;
  justify-content: center;
}
img{
  border-radius: 4px;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* modal styles */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.backdrop img{
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
}
img:hover {
  cursor: pointer;
}
button:hover{
  cursor: pointer;
  background-color: #00C2A8;
}
.seatButton {
  margin-right: 10px;
  padding: 10px;
  display: flex;
  color: white;
  border-radius: 5px;
  
  border: 3px solid rgb(255, 60, 0);
  font-family: 'Times New Roman', Times, serif;
}
button{
  margin: 10px;
  padding: 10px;
  background-color: transparent;
  color: rgb(255, 0, 128);
  transition: all .5s;
  border-radius: 5px;
  border: 3px solid rgb(255, 0, 128);
}

.BUTTON1toBUTTON3 input { display: none; }

.BUTTON1toBUTTON3 .seatButton { 
  margin: 10px;
  padding: 10px;
  color: rgb(255, 0, 128);
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: transparent;
  border: 3px solid rgb(255, 0, 128); cursor: pointer; }

.BUTTON1toBUTTON3 input:checked + .seatButton { background: rgb(165, 243, 195); }
.BUTTON1toBUTTON3 .seatButton:hover{
  background-color: #59e6d3;
}

.BUTTON-START{
  background-color:rgb(252, 250, 249);
  border-radius: 4px;
  display: flex;
  justify-content: center;  
}

.notify{
  background-color: #f9fcfb;
  padding: 20px;
  text-align: center;
  color: rgb(190, 134, 117);
  margin-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 4px;
}

.danger{
  background-color: #f1bfb5;
  color: rgb(32, 18, 18);
  font-weight: 300;
  border-radius: 4px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


